@font-face {
  font-family: 'source-sans-3';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/source-sans-3-regular.woff2) format('woff2');
}
@font-face {
  font-family: 'source-sans-3';
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/source-sans-3-semibold.woff2) format('woff2');
}